section.pagePrev {
    grid-area: pagePrev;

    display: flex;
    min-height: 100vh;
}

section.pagePrev section.pageElements {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--gap-index);
}

section.pagePrev section.elementContainer {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: var(--gap-index);
}

section.pagePrev section.elementContainer.editing-true {
    border: 0.1rem solid black;
}