:root {

    --padding-index-small: 0.25rem;
    --padding-index-medium: 0.5rem;
    --padding-index-big: 0.75rem;
    --margin-index-small: 0.5rem;
    --margin-index-medium: 1rem;
    --margin-index-big: 1.5rem;
    --gap-index: calc(0.3rem + 1vh);

    --border-radius-index: 0.8rem;

    --text-index: 1rem;

    --transition-fast: 0.15s;
    --transition-medium: 0.3s;
}