section.builder {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr; 
    grid-template-rows: auto 1fr 1fr; 
    grid-template-areas: 
        'builderNav builderNav builderNav'
        'addElement pagePrev pagePrev'
        'addElement pagePrev pagePrev';
}